# This is Git's per-user configuration file.
[user]
	name = ysfrknzydn
	email = Yusufurkanim@gmail.com
# Please adapt and uncomment the following lines:
#	name = Yusuf Ozaydin
#	email = yusuf@Yusufs-MacBook-Air-2.local
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
